<div class="upload_form">
  <p>Please, select new CSV file for upload and click on button "Upload file"  for continue </p>
  <%= form_tag(  { :action => 'upload' }, :multipart => true, :method=>'post', :id=>'form_upload', :onsubmit=>'return upl()') do %>
  Upload file: <%= file_field( "form", "file" ) %>
  <%= submit_tag( "Upload file") %>

<img id="spinner" src="/images/load.gif" border="0"  style="display:none">

<% end %>
<br/>
  <span>
    <%= link_to "Back to list domains", '/' %>
  </span>

</div>

<script>
  function upl(){
      $('#spinner').show();
      return true;
  }

</script>
