<div class="upload_form">
	<p>Please, select new CSV file for upload and click on button "Upload file"  for continue </p>
<%= form_tag( { :action => 'upload' }, :multipart => true ) do%>
  Upload file: <%= file_field( "form", "file" ) %>
  <%= submit_tag( "Upload file", :id=>'form_button' ) %>

<img id="spinner" src="/images/load.gif" border="0" style="display:none">

<% end %>
</div>

<script>
$(document).ready(function(){
	$('form_button').click(function() {
  			$('#spinner').show();
		});
});
</script>